* {
    /* outline: 1px dotted red; */
}

/*
    
*/

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    flex: 0;
    justify-content: space-between;
    background-color: #1F2937;
    color:white;
    gap: 25px;
    padding-bottom: 30px;
}

.header .container {
    display: flex;
    flex: 0;
    justify-content: space-between;
    margin: 10px 12vw;
    background-color: #1F2937;
    color:white;
    
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: white;
}

.info a {
    text-decoration: none;
    color: black;
}

/* Head */
.head-area {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 10px 12vw;
    background-color: #1F2937;
    color: white;
    padding-bottom: 10px;
}

.head-area .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 400px;
    gap: 15px;
}

.headline {
    font-size: 36px;
    font-weight: 900;
}

.head-area button {
    width: 130px;
    background-color: #3882F6;
    font-weight: bold;
    border: 0;
    color: white;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 25px;
}

.head-area img {
    outline: 2px solid white;
    max-height: 250px;
}

/* Infos */

.info-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
    gap: 15px;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 20vw;
    padding-top: 20px;
}

.info img {
    height: 150px;
    align-self: center;
    outline: 2px solid #3882F6;
    border-radius: 10px;
}

/* Quote */

.quote-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    min-height: 24%;
    background-image: url(https://images.pexels.com/photos/827993/pexels-photo-827993.jpeg);

}

.quote {
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    justify-self: center;
    flex: 0 0 75%;
}

.person {
    justify-self: flex-end;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: 700;
}

/* Closing */

.closing-area {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 60px;
}

.closing-area .text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    max-width: 75%;
}

.closing-area .container {
    display: flex;
    background-color: #3882F6;
    flex: 0 0 75%;
    align-items: center;
    justify-content:space-around;
    max-height: 40%;
    padding: 40px 0;
    border-radius: 25px;
}

.closing-area button {
    width: 130px;
    background-color: #3882F6;
    font-weight: bold;
    border: 0;
    color: white;
    outline: 2px solid white;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 25px;
}

/* Footer */

.footer {
    display: flex;
    flex: 0;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}